@model EventZone.Models.EditUserModel
@using EventZone.Models
@{
    User user = ViewData["UserSession"] as User;
}

@section Scripts {
    <script type="text/javascript">
        $(function () {
            $('#UserDOB').datetimepicker({
                defaultDate: '1-1-1990',
                format: 'L',
                showClose: true,
                showClear: true,
                toolbarPlacement: 'top'
            });
        });
    </script>
    @Scripts.Render("~/bundles/jqueryval")
}


@using (Html.BeginForm("EditProfile", "User"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>User</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.UserID)
        <div class="form-group">
            <p class="control-label col-md-2">UserName</p>
            <div class="col-md-10">
                @user.UserName
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Password, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.PasswordFor(model => model.Password)
                @Html.ValidationMessageFor(model => model.Password)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ConfirmPassword, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.PasswordFor(model => model.ConfirmPassword)
                @Html.ValidationMessageFor(model => model.ConfirmPassword)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UserFirstName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UserFirstName)
                @Html.ValidationMessageFor(model => model.UserFirstName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UserLastName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UserLastName)
                @Html.ValidationMessageFor(model => model.UserLastName)
            </div>
        </div>

        <div class="form-group">
            <p class="control-label col-md-2">Email</p>
            <div class="col-md-10">
                @user.UserEmail
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UserDOB,
            htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.UserDOB,
               new
               {
                   htmlAttributes = new
                   {
                       disabled = "disabled",
                       @readonly = "readonly",
                       @Value = "1/1/1990",
                       @class = "form-control"

                   },
               })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IDCard, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IDCard)
                @Html.ValidationMessageFor(model => model.IDCard)
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.Phone, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Phone)
                @Html.ValidationMessageFor(model => model.Phone)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Place, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Place)
                @Html.ValidationMessageFor(model => model.Place)
            </div>
        </div>



        <div class="form-group">
            @Html.LabelFor(m => m.Gender, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.RadioButtonFor(m => m.Gender, 0) Male
                @Html.RadioButtonFor(m => m.Gender, 1) Female
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.AvatarLink, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AvatarLink)
                @Html.ValidationMessageFor(model => model.AvatarLink)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

