@model EventZone.Models.EditUserModel

@{
    if (EventZone.Helpers.UserHelpers.GetCurrentUser(Session) == null)
    {
        Response.Redirect("~/Home");
    }
    string date="0001-1-1";
    if(Model.UserDOB!=null){
        date = Model.UserDOB.Year + "-" + Model.UserDOB.Month + "-" + Model.UserDOB.Date;
        
    }
    
}

    @using (Html.BeginForm("UpdateInfoPost", "User"))
    {
        @Html.AntiForgeryToken()
        var alertStyle = "";

        if (ViewData.ModelState == null || !ViewData.ModelState.Any(m => m.Value.Errors.Any()))
        {
            alertStyle = "display:none;margin-bottom:0px";
        }

                <div class="row">
                    <!-- row FirstName -->
                    <div class="col-lg-4  d_label">
                        First Name:
                    </div>
                    <div class="col-lg-8">
                        @Html.TextBoxFor(modal => modal.UserFirstName, new { @class = "form-control" }) @Html.ValidationMessageFor(model => model.UserFirstName)
                    </div>
                </div>
                <div class="row">
                    <!-- row LastName -->
                    <div class="col-lg-4  d_label">
                        Last Name:
                    </div>
                    <div class="col-lg-8">
                       @Html.TextBoxFor(modal => modal.UserLastName, new { @class = "form-control" })  @Html.ValidationMessageFor(model => model.UserLastName)
                    </div>
                </div>
                <div class="row">
                    <!-- row DOB -->
                    <div class="col-lg-4  d_label">
                        Birthday:
                    </div>
                    <div class="col-lg-8">
                        @Html.TextBoxFor(model => model.UserDOB, "{0:yyyy-MM-dd}", new { @class = "form-control", @type = "date", @style = "border-radius:4px" })
                    </div>
                    <div class="col-lg-8">
                        @Html.ValidationMessageFor(model => model.UserDOB)
                    </div>
                </div>
                <div class="row">
                    <!-- row Address -->
                    <div class="col-lg-4  d_label">
                        Address:
                    </div>

                    <div class="col-lg-8">
                        @Html.TextBoxFor(modal => modal.Place, new { @class = "form-control" })  @Html.ValidationMessageFor(model => model.Place)
                    </div>
                   
                </div>
                <div class="row">

                    <div class="col-lg-4  d_label">
                        Gender:
                    </div>
                    <div class="col-lg-8">
                        <label class="radio-inline">@Html.RadioButtonFor(m => m.Gender, 0) Male</label>
                        <label class="radio-inline">@Html.RadioButtonFor(m => m.Gender, 1) Female</label>
                        @Html.ValidationMessageFor(model => model.Gender)
                    </div>
                </div>
                <div class="row">
                    <!-- row Phone Number -->
                    <div class="col-lg-4  d_label">
                        Phone Number:
                    </div>
                    <div class="col-lg-8">
                        @Html.TextBoxFor(model => model.Phone, new { @class = "form-control" }) @Html.ValidationMessageFor(model => model.Phone)
                    </div>
                </div>
                <div class="row">
                    <!-- row ID card -->
                    <div class="col-lg-4  d_label">
                        ID card:
                    </div>
                    <div class="col-lg-8">
                        @Html.TextBoxFor(model => model.IDCard, new { @class = "form-control" }) @Html.ValidationMessageFor(model => model.IDCard)
                    </div>
                </div>
                <div class="row">
                    <!-- row Update Button -->
                    <div class="col-lg-8">
                        <button type="submit" class="btn btn-primary btn-sm" id="btn-save">Save</button>
                        <button class="btn btn-default btn-sm">Cancel</button>
                    </div>
                </div>
        <!-- bao toàn bộ chức năng Change Password -->
    }



