@model EventZone.Models.ViewThumbEventModel
@using EventZone.Helpers

<!-- BOOTSTRAP social -->
<link href="~/Content/Home/font-awesome.min.css" rel="stylesheet" />
<link href="~/Content/Home/bootstrap-social.css" rel="stylesheet" />
<!-- myCSS -->
<link href="~/Content/User/myCSS_s_r.css" rel="stylesheet" />

<!-- Each event trong khung kết quả -->
<div class="d_each_event">
    <!-- THUMBNAIL -->
    <div class="d_event_thumbnail">
        <img src="@EventDatabaseHelper.Instance.GetImageByID(@Model.evt.Avatar).ImageLink" id="i_event_thumbnail">
    </div>
    <!-- DETAIL TITLE & INFO -->
    <div class="d_event_info">
        <!-- TITLE -->
        <div class="d_event_title">
            @Html.ActionLink(@Model.evt.EventName, "Details", "Event", new { id = @Model.evt.EventID }, null)
        </div>
        <!-- INFO -->
        <div class="d_info_piece">
            <div class="d_icon glyphicon glyphicon-th-list">
            </div>
            <div class="d_icon_info d_event_category">
                in <i>@EventDatabaseHelper.Instance.GetEventCategory(Model.evt.EventID)</i>
            </div>
            <div class="d_icon glyphicon glyphicon-time">
            </div>
            <div class="d_icon_info d_event_time">
                From @Model.evt.EventStartDate.DayOfWeek <span> @Model.evt.EventStartDate.ToShortTimeString() @Model.evt.EventStartDate.ToShortDateString()</span>
                @if (Model.evt.EventEndDate != null && Model.evt.EventEndDate > Model.evt.EventEndDate)
                {
                    <span><br />To   @Model.evt.EventEndDate.DayOfWeek</span> <span>@Model.evt.EventEndDate.ToShortTimeString() @Model.evt.EventEndDate.ToShortDateString()</span>
                }
            </div>
            <div class="d_icon glyphicon glyphicon-map-marker">
            </div>

            <div class="d_icon_info d_event_location">
                @Model.location[0].LocationName
                @if (Model.location.Count > 1)
                {
                    <text> and @Model.location.GetRange(1, Model.location.Count - 1).Count more localtion(s)</text>
                }
            </div>         
        </div>
    </div>
</div>
