@using EventZone.Helpers
@{
    var user = UserHelpers.GetCurrentUser(Session);
    ViewBag.Title = "Home Page";
    List<EventZone.Models.Category> listCategory = CommonDataHelpers.Instance.GetAllCategory();
}
<script>
    $(document).ready(function() {
        @if (TempData["errorTitle"] != null)
        {
            <text>
        errorShow('@TempData["errorTitle"]', '@TempData["errorMessage"]')
        </text>
        }
    })
</script>

 

<!--<link href="~/Content/Home/Index.css" rel="stylesheet" />-->
<link href="~/Content/Home/bootstrap-social.css" rel="stylesheet" />
<link href="~/Content/Home/font-awesome.min.css" rel="stylesheet"/>
<link href="~/Content/Home/jquery.bxslider.css" rel="stylesheet" />
<script src="~/Scripts/Home/bootstrap-hover-dropdown.min.js"></script>
<link href="~/Content/Home/flipper.min.css" rel="stylesheet" />
<link href="~/Content/Home/myCSS_index_2.css" rel="stylesheet" />

<script>
    $('#myFlipper').flipper();
</script>
<div class="full-screen-bg">
    <video class="fullscreen-bg__video" autoplay loop muted>
        <source src="~/img/saigon.webm" type="video/webm" />
    </video>
</div>
<div class="d_middle_category">
    <div class="d_md_body">
        <div class="d_mc_text_1">
            <span class="d_txt_1">Event</span>	
            <span class="d_txt_2">Zone!</span>
        </div>
        <div class="d_mc_text_2">
            Only one zone for all Activities. Promote, manage, and host successful events.
        </div>
        <div class="d_mc_category">
            @if (listCategory != null)
            {
                foreach (var item in listCategory)
                {
                    <div class="btn-group d_btn_middle" >
                        <a type="button" class="btn btn-default" data-hover="dropdown" aria-haspopup="true" aria-expanded="false" href="/Search/CategorySearch?categoryid=@item.CategoryID" onmouseover="LoadCateInfo(@item.CategoryID)">@item.CategoryName</a>
                        <ul class="dropdown-menu d_popup_stat" id="cate-info-@item.CategoryID"></ul>
                    </div>
                
                }
            }
        </div>
    </div>
</div>
<!-- Phần giữa chứa 3 Hangf -->
<div class="d_big_row d_row_1">
    <div class="d_title">
        New Event
    </div>
    <div class="d_e_container" id="newEvent">
       @Html.Action("NewEvent", "Home")
    </div>
</div>

<div class="d_big_row d_row_2" >
    <div class="d_title">
        Hot Event
    </div>
    <div class="d_e_container" id="hotEvent">
        @Html.Action("HotEvent", "Home")
    </div>
</div>

<div class="d_big_row d_row_3" id="liveEvent">
    <div class="d_title">
        Live Event
    </div>
    <div class="d_e_container">
        @Html.Action("LiveEvent", "Home")
    </div>
</div>
<!-- Phần FOOTER -->
<div class="d_footer">
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 d_footer_column_1">
        <div class="d_col_title">
            <!-- TÊN của cột trong FOOTER -->
            Share Our Website
        </div>
        <div class="d_col_content">
            <!-- Cột trong FOOTER chứa CONTENT ... -->
            <ul>
                <li>Link 1</li>
                <li>Link 2</li>
                <li>Link 3</li>
                <li>Link 4</li>
            </ul>
        </div>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 d_footer_column_2">
        <div class="d_col_title">
            <!-- TÊN của cột trong FOOTER -->
            Sponsored by ABC
        </div>
        <div class="d_col_content">
            <!-- Cột trong FOOTER chứa CONTENT ... -->
            <ul>
                <li>Donor 1</li>
                <li>Donor 2</li>
                <li>Donor 3</li>
                <li>Donor 4</li>
            </ul>
        </div>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 d_footer_column_3">
        <div class="d_col_title">
            <!-- TÊN của cột trong FOOTER -->
            Other Sites
        </div>
        <div class="d_col_content">
            <!-- Cột trong FOOTER chứa CONTENT ... -->
            <ul>
                <li>Link 1</li>
                <li>Link 2</li>
                <li>Link 3</li>
                <li>Link 4</li>
            </ul>
        </div>
    </div>
</div>


<script src="~/Scripts/Home/myJS_index.js"></script>
<script src="~/Scripts/shareFacebook.js"></script>
<script src="~/Scripts/Home/jquery.bxslider.js"></script>
<script src="~/Scripts/jquery.transit.min.js"></script>

<script>
    //$(document).ready(function(){
    //    $.ajax({
    //        url: "/Home/NewEvent",
    //        type: "get",
    //        dataType: "html",
    //        success: function (data) {
    //            $("#newEvent").html(data);
    //        }
    //    })

    //})

</script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.bxslider').bxSlider({
            auto: 'true',
            slideWidth: 500,
            minSlides: 3,
            maxSlides: 3,
            slideMargin: 10,
            moveSlides: 1,
            autoHover: 'true',
            pager:'false',
            onSliderLoad: function () {
                //$('.bxslider>li').addClass('resize');
                //$('.bxslider>li:not(.bx-clone)').eq(1).addClass('active-slide').css("transform", "scale(1.1,1.1)");
            },
            onSlideAfter: function ($slideElement, oldIndex, newIndex) {
               // $('.active-slide').css("transform", "scale(0.8,0.8)").removeClass('active-slide');
                //$($slideElement).next().addClass('active-slide').css("transform", "scale(1.1,1.1)");
            }
        });
    });
   

</script>
<script>


    function LoadCateInfo(categoryID) {
        $("#cate-info-" + categoryID).html('<img src="../img/loading-icon.jpg" style="width:100px;height:100px"/>');
        $.ajax({
            url: "/Home/LoadCateInfo",
            type: "get",
            dataType: "html",
            data: {categoryID:categoryID},
            success: function (data) {
               
                $("#cate-info-" + categoryID).html(data);
               
            }
        })
    }

</script>
<script>
    function followEvent(eventID) {
        @if(user!=null){
            <text>
        $.ajax({
            url: "/User/FollowEvent",
            type: "POST",
            dataType: "json",
            data: {
                eventID: eventID
            },
            success: function (data) {
                if (data.success) {
                    if (data.state == 0) {
                        $(".follow-" + eventID + "-status").text("Follow");
                    } else if (data.state == 1) {
                        $(".follow-" + eventID + "-status").text("Followed");
                    }
                } else {
                    alert("ops.. somthing wrong!Please try again later...");
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(jqXHR);
                console.log(textStatus);
                console.log(errorThrown);
            }
        })
        </text>
        }
        else {
            <text>
        var x =
        errorShow('Require Signin', 'Please signin to follow this event')
        </text>
        }

    }

</script>

<script>
    //handle follow category
    function followCategory(categoryID) {
        @if(user!=null){
                   <text>
        $.ajax({
            url: "/User/FollowCategory",
            type: "POST",
            dataType: "json",
            data: {
                categoryID: categoryID
            },
            success: function (data) {
                if (data.success) {
                    if (data.state == 0) {
                        $("#number-follower-category-" + categoryID).text(parseInt($("#number-follower-category-" + categoryID).text()) - 1);
                        $("#follow-category-" + categoryID + "-status").text("Follow");
                    } else if (data.state == 1) {
                        $("#number-follower-category-" + categoryID).text(parseInt($("#number-follower-category-" + categoryID).text()) + 1);
                        $("#follow-category-" + categoryID + "-status").text("Following");
                    }
                } else {
                    alert("ops.. somthing wrong!Please try again later...");
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(jqXHR);
                console.log(textStatus);
                console.log(errorThrown);
            }
        })
        </text>
               }
               else {
                   <text>
        var x = 'Require Signin';
        var y = 'Please signin to follow this Category';
        errorShow(x, y);
        </text>
               }

    }

</script>

